<div id="<%= dom_id sscore %>">
  <p>
    <strong>Subject:</strong>
    <%= sscore.subject %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= sscore.point %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= sscore.grade %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= sscore.student_id %>
  </p>

</div>
