<p style="color: green"><%= notice %></p>

<%= render @sscore %>

<div>
  <%= link_to "Edit this sscore", edit_sscore_path(@sscore) %> |
  <%= link_to "Back to sscores", sscores_path %>

  <%= button_to "Destroy this sscore", @sscore, method: :delete %>
</div>
